@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

footer {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.screenMobile {
    height: calc(100% - 80px);
}


