@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

footer {
    background: #fff;
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.screenMobile {
    height: calc(100% - 80px);
}

.gradient-border {
    background: linear-gradient(white, white) padding-box, linear-gradient(#839BFF, #C883FF) border-box;
    border-style: solid;
    border-color: transparent;
}

.gradient-border-panel {
    background: linear-gradient(white, white) padding-box, linear-gradient(#C883FF, #839BFF) border-box;
    border-style: solid;
    border-color: transparent;
}


